{% extends 'base.html' %}

{% block title %}Edit "{{ post['title'] }}"{% endblock %}

{% block content %}
    <h1>Edit "{{ post['title'] }}"</h1>
    <form method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ post['title'] }}" required>
        <label for="content">Content</label>
        <textarea name="content" id="content">{{ post['content'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}

{% extends 'base.html' %}

{% block title %}Edit "{{ post['title'] }}"{% endblock %}

{% block content %}
    <h1>Edit "{{ post['title'] }}"</h1>
    <form method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ post['title'] }}" required>
        <label for="content">Content</label>
        <textarea name="content" id="content">{{ post['content'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}
