{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h1>Blog Posts</h1>
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h2>{{ post["title"] }}</h2>
                    <div class="about">{{ post["created"] }}</div>
                </div>
                <a class="action" href="{{ url_for("post", post_id=post["id"]) }}">View</a>
            </header>
            <p class="content">{{ post["content"] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
