{% extends "base.html" %}

{% block title %}{{ post["title"] }}{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post["title"] }}</h1>
                <div class="about">{{ post["created"] }}</div>
            </div>
            <div class="actions">
                <a class="action" href="{{ url_for("edit", id=post["id"]) }}">Edit</a>
                <form action="{{ url_for("delete", id=post["id"]) }}" method="POST">
                    <input class="danger" type="submit" value="Delete" onclick="return confirm(\"Are you sure?\");">
                </form>
            </div>
        </header>
        <p class="content">{{ post["content"] }}</p>
    </article>
{% endblock %}
